{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Order Food now{% endblock %}</h1>
{% endblock %}
{% block content %}
	<h1 style="margin-left: 50%"> {{ g.seller }} </h1>
	<div class="forms">
	<form method="post">
		{%	for item in g.userDish	%}
		    <label> {{item.name}} {{item.price}} {{item.qAvail}} {{item.description}}  {{item.type}}<input type="checkbox" name="name"  value={{item.name}} > </label>
		 {%	endfor	%}
	<label for="qty">Quantity</label>
	<input type="number" name="qty" value="qty">
	<input type="submit" value="Confirm buying">
	</form>
	</div>
{% endblock %}
