{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Order Food now{% endblock %}</h1>
{% endblock %}
{% block content %}
	<form method="POST">
		<label for="search">Search</label>
		<select name="type">
			<option value="Dish">Dish Name</option>
			<option value="Seller">Seller Name</option>
		</select>
		<input type="text" name="search" id="search">
		<input type="submit" value="Go">
	</form>
	{%	for user in g.uDict  %}

	<div>
		<h2>  <a href="{{url_for('buyer.menu',uname=user)}}">{{user}} </a> </h2>
		ITEMS -
		{%	for x in g.uDict[user]	%}
			 {{x[0]}}, 
		{%	endfor %}
	</div>
	{%	endfor	%}

{% endblock %}
