 body {
 /*background-image: url("https://i.pinimg.com/originals/a7/16/be/a716bef1009b73c3f3b80ee549c2ff3b.jpg");*/
 background-color: #FFA500;
}
div.base{
  position: absolute;
  top:0%;
  left:0%;
  display:block;
  height: 0%;
  width: 100%;
  /*padding: 0px 0px 0px 0px*/
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: red;
} 

div.profile{
  position:absolute;
  top:35.7%;
  right:0%;
  align-items: center;  
  margin-top:-300px; /* this is half the height of your div*/  
  margin-left:-100px; 
  background-color:Red ;
  border: 2 px solid black;
  font-size: 30px;
  font-family: sans-serif;
  padding: 100px 150px 600px 100px
}
.tab {
    background-color: white;  
    position: centre; 
    /*left:40%;*/
    /*top:10%;*/
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 33px Arial, sans-serif;
}
.tab thead th{
    background-color:Black  ;
    border: solid 1px #DDEEEE;
    color: white;
    padding: 20px;
    text-align: left;
    /*text-shadow: 1px 1px 1px #fff;*/
}
.tab tbody td {
    border: solid    ;
    color: Black;
    padding: 10px;
}